/*
	Template 1 Theme
	Author: Dante Turner
	Version 0.0.1
*/
/* BASE = Base styles, variables, mixins, etc */
/* Font */
/* Background Colors */
/* Showcases (Header Images) */
/* What We Do Images on Index Page */
/* Mixins */
/* Base CSS */
@font-face {
  font-family: "myRoboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype"); }

html {
  height: 100%; }

body {
  font-family: "myRoboto";
  font-size: 16px;
  line-height: 1.7em;
  color: #base-font-color;
  height: 100%;
  width: auto; }

/* MODULES - Individual site components */
/* Headings */
.blue-heading {
  color: #245FAC; }

.dark-blue-heading {
  color: #2C415D; }

/* Fonts */
.fa-1 {
  font-size: 26px; }

.fa-2 {
  font-size: 32px; }

.fa-3 {
  font-size: 40px; }

.fa-featured {
  color: #245FAC !important; }

/* Sections */
section {
  padding: 20px 0; }

.section-showcase {
  background: url("../img/coding.jpg") no-repeat top center; }
  .section-showcase .showcase-content {
    margin: 0;
    width: 80%;
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff; }

.section-whatwedo .whatwedo-options {
  padding-top: 30px;
  width: 70%;
  margin: auto; }
  .section-whatwedo .whatwedo-options .selected-option {
    border-bottom: 1px solid #fff; }

.section-whatwedo .wwd-preview1 {
  background: url("../img/preview1.jpg") no-repeat; }

.section-whatwedo .wwd-preview2 {
  background: url("../img/preview3.jpg") no-repeat; }

.section-whatwedo .wwd-preview3 {
  background: url("../img/preview1.jpg") no-repeat; }

.section-whatwedo .wwd-preview4 {
  background: url("../img/preview3.jpg") no-repeat; }

.section-whatwedo .whatwedo-previews {
  margin-top: 20px;
  margin-bottom: -150px;
  height: 350px;
  background-size: cover;
  -webkit-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out; }
  .section-whatwedo .whatwedo-previews .previews-content {
    padding: 50px;
    width: 80%;
    color: #2C415D;
    font-size: 20px; }
    .section-whatwedo .whatwedo-previews .previews-content p {
      margin-top: 10px; }

.section-whatwedo .whatwedo-icon {
  cursor: pointer;
  margin-bottom: 10px; }

.section-whatwedo .whatwedo-icon:hover {
  color: #e0e0e0 !important; }

.section-core-features .big-margin {
  margin-top: 150px; }

.section-core-features .core-feature {
  padding: 20px; }

.section-core-features .core-feature:hover {
  background-color: #eeeeee; }

.section-testimonials .testimonial-pic {
  max-height: 150px;
  border-radius: 100%; }

.section-testimonials .content-text {
  padding-left: 10px;
  width: 80%; }

.section-testimonials .carousel-indicators {
  bottom: -10px; }

.section-testimonials .carousel-inner {
  margin-bottom: 50px; }

.section-about-showcase {
  background: url("../img/coding2.jpg") no-repeat top center; }
  .section-about-showcase .about-showcase-content {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff; }

.section-contact-showcase {
  background: url("../img/business2.jpg") no-repeat top center; }
  .section-contact-showcase .contact-showcase-content {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff; }

.section-services-showcase {
  background: url("../img/business3.jpg") no-repeat top center; }
  .section-services-showcase .services-showcase-content {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff; }

.section-pricing {
  padding-bottom: 50px; }
  .section-pricing .plans {
    width: 90%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px; }
  .section-pricing .price-group, .section-pricing .popular-plan {
    padding: 10px;
    margin: auto; }
  .section-pricing p {
    padding: 10px 0 10px 0; }
  .section-pricing .btn {
    margin: 10px; }
  .section-pricing .the-price, .section-pricing .free-price {
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    color: #245FAC; }
  .section-pricing .free-price {
    font-weight: normal; }
  .section-pricing .price-group:hover, .section-pricing .popular-plan:hover {
    background-color: #e0e0e0; }
  .section-pricing .popular-plan .the-price, .section-pricing .popular-plan .free-price {
    color: inherit; }
  .section-pricing .popular-plan:hover {
    background-color: #2C415D; }

.section-customers .customer {
  padding: 20px;
  height: 100px; }

.section-beliefs .contain-img {
  width: 100%; }

.section-beliefs .align-mid {
  margin: 20px; }

.section-beliefs .beliefs-content {
  padding: 20px; }

.section-meetourteam .team-pic {
  max-height: 100px;
  border-radius: 100%; }

.section-meetourteam .member-container {
  padding: 10px;
  margin: 10px; }

.section-meetourteam .member-container:hover {
  background: #245FAC;
  color: #fff; }

.section-getstarted .btn {
  margin: 20px; }

.section-contact h4 {
  margin-top: 20px;
  margin-bottom: 20px; }

.full-height {
  height: 100%;
  background-size: cover; }

.reduced-height {
  height: 75%;
  background-size: cover; }

.section-light {
  background: #245FAC;
  color: #fff; }

.section-dark {
  background: #2C415D;
  color: #fff; }

.section-highlight-light {
  background: #eeeeee;
  color: #131313; }

.section-highlight-dark {
  background: #e0e0e0;
  color: #fff; }

/* LAYOUTS - Page layout styles 8? */
/* Navbar */
.navbar {
  width: 100%;
  margin: auto;
  padding: 15px;
  font-weight: bold;
  color: #263238;
  background-color: #fff;
  border: none; }
  .navbar .navbar-brand, .navbar .navbar-brand:hover {
    color: #245FAC;
    font-size: 1.5em; }
  .navbar .my-btn-navbar {
    background-color: #245FAC;
    color: #fff;
    border: none;
    border-radius: 20%;
    outline: none; }
  .navbar .my-btn-navbar:active {
    outline: none; }
  .navbar .navbar-toggle {
    background-color: #245FAC; }
  .navbar .icon-bar {
    background-color: #fff !important; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #245FAC;
  background-color: initial; }

/* Footer */
.footer-main .footer-row1 {
  width: 80%;
  margin: auto;
  padding: 20px; }
  .footer-main .footer-row1 i {
    padding-right: 10px; }
  .footer-main .footer-row1 .icon-heading-text {
    padding-bottom: 10px;
    font-size: 20px; }
  .footer-main .footer-row1 p {
    padding-bottom: 10px; }

.footer-main .footer-row2 {
  background-color: #fff;
  color: #2C415D; }
  .footer-main .footer-row2 .footer-end-links {
    padding: 5px; }

/* Main Blog and Blog Posts */
.section-blog-showcase {
  background: url("../img/business3.jpg") no-repeat top center;
  background-size: cover; }
  .section-blog-showcase .blog-showcase-content {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff; }

.section-blog .content-area {
  padding: 10px; }
  .section-blog .content-area .blog-image {
    width: 100%; }
  .section-blog .content-area .blog-text {
    padding: 10px; }
  .section-blog .content-area .blog-text:hover {
    background-color: #e0e0e0; }
  .section-blog .content-area .meta-data {
    font-size: 14px;
    color: #2C415D; }
  .section-blog .content-area .btn {
    margin: 10px; }

.center-page-nav {
  width: 240px; }

.section-blogpost {
  margin-top: 50px; }
  .section-blogpost .blog-pic img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; }
  .section-blogpost .copy-img {
    width: 40%;
    margin: 10px; }
  .section-blogpost .meta-data {
    font-size: 14px;
    color: #2C415D; }

.blog-tag {
  margin-right: 12px; }

.sidebar h3 {
  margin-bottom: 20px; }

.sidebar .blog-categories h4 {
  margin-bottom: 20px; }

.sidebar .counter {
  background: #2C415D;
  color: #fff;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 100%; }

.sidebar .blog-widget {
  margin: 10px;
  padding: 10px;
  background-color: #eeeeee; }

.sidebar .blog-widget:hover {
  background-color: #e0e0e0; }

/* Special Mobile Changes Can Go Here*/
