/* Font */

$base-font-size: 16px;
$base-font-family: "Roboto";
$base-font-color: #666666;

/* Background Colors */

$dark-color:#2C415D;
$light-color:#245FAC;
$highlight-light:#eeeeee;
$highlight-dark:#e0e0e0;

/* Showcases (Header Images) */

$showcase-image: "../img/coding.jpg";
$showcase-about-image:"../img/coding2.jpg";
$showcase-services-image:"../img/business3.jpg";
$showcase-blog-image:"../img/business3.jpg";
$showcase-contact-image:"../img/business2.jpg";
$showcase-height-default:100%;
$showcase-height-reduced:75%;

/* What We Do Images on Index Page */

$whatwedo-previews-image1:"../img/preview1.jpg";
$whatwedo-previews-image2:"../img/preview3.jpg";
$whatwedo-previews-image3:"../img/preview1.jpg";
$whatwedo-previews-image4:"../img/preview3.jpg";