/* Headings */

.blue-heading{
	color:$light-color;
}

.dark-blue-heading{
	color:$dark-color;
}


/* Fonts */

.fa-1{
	font-size:26px;	
}

.fa-2{
	font-size:32px;	
}

.fa-3{
	font-size:40px;	
}

.fa-featured{
	color:$light-color !important;
}

